@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

/*Inicio cabecalho*/

.cabecalho__container {
    margin: auto 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0 0;
    margin-bottom: 1rem;
}

.left__container {
    width: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left__container .menu__icon {
    margin-right: 2rem;
}

.center__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center__container input {
    all: unset;
    width: 21.75rem;
    height: 2.5rem;
    flex-shrink: 0;
    border: 0.0625rem solid #CCC;
    background: #FFF;
    padding: 0 0.75rem;
}

::-webkit-input-placeholder {
    color: #8b8282;
    font-size: 1rem;
}

.center__container span {
    width: 3.5625rem;
    height: 2.5rem;
    flex-shrink: 0;
    border: 0.0625rem solid #CCC;
    background: #F8F8F8;

    &:hover {
        cursor: pointer;
    }
}

.center__container img {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 0.5rem 1rem;
}

.right__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right__container .video__icon:hover {
        cursor: pointer;
}

.right__container .bell__icon {
    margin: 0 1.5rem;

    &:hover {
        cursor: pointer;
    }
}

.right__container .avatar__icon {
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 2.125rem;

    &:hover {
        cursor: pointer;
    }
}

/*Fim cabecalho*/

/*Inicio main*/

.principal {
    width: 100%;
    display: flex;
    display: flex;
    gap: 0.875rem;
}


/*Fim main*/

/*Inicio Video Principal*/

.principal__container__central {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.principal__container__central__video {
    width: 56.25rem;
    height: 33.5625rem;
    background-image: url('../img/diome_thumb.svg');
}

.principal__container__central__video__titulo {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4375rem;
    margin-top: 1rem;
}

.principal__container__central__like__disl {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.principal__container__central__channel__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal__container__central__channel__avatar__text {
    font-size: 0.875rem;
    font-weight: 600;
    margin-left: 0.5rem;
}

.principal__container__central__channel__avatar__text__subscription {
    color: #515151;
    font-weight: 400;
}

.principal__container__central__subscribe {
    all: unset;
    width: 9.9375rem;
    border-radius: 0.125rem;
    cursor: pointer;
    background-color: #CC0000;
    color: #FFFFFF;
    margin-left: 2.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.principal__container__central__interact__user {
    display: flex;
    justify-content: flex-end;
}

.principal__container__central__interact__user .like, .dlike, .share, .download {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;
    margin-left: 2.5rem;
    font-size: 0.875rem;
    font-weight: 600;
}

.principal__container__central__views__transm {
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 1rem;
}

.principal__container__central__views__transm span {
    margin-left: 0.625rem;
}

.principal__container__central__transcription {
    width: 31.875rem;
    color: #515151;
    font-size: 0.875rem;
    margin-top: 1rem;
}


/*Fim Video Principal*/

/*Inicio Sidebar*/

.side__section__content {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 0.625rem;
}

.side__section__content__text {
    width: 12.25rem;
    height: 5.5625rem;
}

.side__section__content__text h3{
    font-size: 0.875rem;
    font-weight: 600;
}

.side__section__content__text p {
    color: #515151;
    font-size: 0.75rem;
    font-weight: 400;
}

.side__section__content__text__owner {
    margin: 0.5rem 0;
}

/*Fim Sidebar*/

/*Responsividade Tablet*/

@media (max-width: 1200px) {

    .principal {
        flex-direction: column;
    }
    .side__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

/*Fim responsividade Tablet*/