@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

/*Inicio cabecalho*/

.cabecalho__container {
    margin: auto 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 0 0;
    margin-bottom: 16px;
}

.left__container {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left__container .menu__icon {
    margin-right: 32px;
}

.center__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center__container input {
    all: unset;
    width: 348px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 0 12px;
}

::-webkit-input-placeholder {
    color: #8b8282;
    font-size: 16px;
}

.center__container span {
    width: 57px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #CCC;
    background: #F8F8F8;

    &:hover {
        cursor: pointer;
    }
}

.center__container img {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 8px 16px;
}

.right__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right__container .video__icon:hover {
        cursor: pointer;
}

.right__container .bell__icon {
    margin: 0 24px;

    &:hover {
        cursor: pointer;
    }
}

.right__container .avatar__icon {
    width: 34px;
    height: 34px;
    border-radius: 34px;

    &:hover {
        cursor: pointer;
    }
}

/*Fim cabecalho*/

/*Inicio main*/

.principal {
    width: 100%;
    display: flex;
    display: flex;
    gap: 14px;
}


/*Fim main*/

/*Inicio Video Principal*/

.principal__container__central {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.principal__container__central__video {
    width: 900px;
    height: 537px;
    background-image: url('../img/diome_thumb.svg');
}

.principal__container__central__video__titulo {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 16px;
}

.principal__container__central__like__disl {
    display: flex;
    width: 100%;
    margin-top: 16px;
}

.principal__container__central__channel__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal__container__central__channel__avatar__text {
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
}

.principal__container__central__channel__avatar__text__subscription {
    color: #515151;
    font-weight: 400;
}

.principal__container__central__subscribe {
    all: unset;
    width: 159px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #CC0000;
    color: #FFFFFF;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.principal__container__central__interact__user {
    display: flex;
    justify-content: flex-end;
}

.principal__container__central__interact__user .like, .dlike, .share, .download {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 600;
}

.principal__container__central__views__transm {
    font-size: 14px;
    font-weight: 600;
    margin-top: 16px;
}

.principal__container__central__views__transm span {
    margin-left: 10px;
}

.principal__container__central__transcription {
    width: 510px;
    color: #515151;
    font-size: 14px;
    margin-top: 16px;
}


/*Fim Video Principal*/

/*Inicio Sidebar*/

.side__section__content {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}

.side__section__content__text {
    width: 196px;
    height: 89px;
}

.side__section__content__text h3{
    font-size: 14px;
    font-weight: 600;
}

.side__section__content__text p {
    color: #515151;
    font-size: 12px;
    font-weight: 400;
}

.side__section__content__text__owner {
    margin: 8px 0;
}

/*Fim Sidebar*/